/* О сервисе */

.about-services {
  @media (min-width: @desktop-width) {
    position: relative;
    padding-top: 110px;
    margin-top: -60px;
    z-index: 3;
    border-radius: 0 0 60px 60px;
    background: @main-background-dark;
    box-sizing: border-box;
  }
}

.about-services__main {
  position: relative;
  z-index: 3;
  background:
    url("../images/about-service-bg.png") no-repeat bottom center,
    url("../images/about-service-bg-left.png") no-repeat 0% 0%,
    @main-background-dark;
  padding: 0 25px 82px;
  border-radius: 0 0 30px 30px;

  @media (min-resolution: 2dppx) {
    background:
      url("../images/about-service-bg@2x.png") no-repeat bottom center,
      url("../images/about-service-bg-left@2x.png") no-repeat 0% 0%,
      @main-background-dark;
    background-size:
      292px auto,
      113px auto;
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 0 0 40px 40px;
    padding: 237px 40px 89px;
    background:
      url("../images/about-tablet bg-right.png") no-repeat right 60px bottom 89px,
      url("../images/about-tablet-bg-top.png") no-repeat center 32%,
      @tablet-dark-bg;

    @media (min-resolution: 2dppx) {
      background:
        url("../images/about-tablet bg-right@2x.png") no-repeat right 60px bottom 89px,
        url("../images/about-tablet-bg-top@2x.png") no-repeat center 32%,
        @tablet-dark-bg;
      background-size:
        376px auto,
        678px auto;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 62px 131px 163px;
    // margin-top: -60px;
    z-index: 4;
    border-radius: 0 0 60px 60px;
    background:
      url("../images/about-desktop-bg-right.png") no-repeat right bottom,
      url("../images/about-desktop-bg-top.png") no-repeat top 50px left 100px,
      @main-background-dark;
    width: 1440px;
    margin: -60px auto 0;
    box-sizing: border-box;

    @media (min-resolution: 2dppx) {
      background:
        url("../images/about-desktop-bg-right@2x.png") no-repeat right bottom,
        url("../images/about-desktop-bg-top@2x.png") no-repeat top 50px left 100px,
        @main-background-dark;
      background-size:
        630px auto,
        212px auto;
    }
  }
}

.about-services__wrapper {
  padding: 0 35px 0 24px;

  @media (min-width: @tablet-width) {
    padding: 41px 0 0 34px;
    // margin-top: -50px;
    grid-column: 1/2;
  }

  @media (min-width: @desktop-width) {
    // grid-column: 1/2;
    // grid-row: 1/2;
  }
}
