/* О сервисе */

.about-services {
  position: relative;
  background:
    url("../images/about-service-bg.png") no-repeat bottom center,
    url("../images/about-service-bg-left.png") no-repeat 0% 57%,
    @main-background-dark;
  padding: 0 25px 82px;
  border-radius: 0 0 20px 20px;
}

.about-services__wrapper {
  padding: 312px 35px 0 24px;
}
