.bg-wrapper--dark {
  @media (min-width: @desktop-width) {
    background-color: @secondary-text-dark;
    width: 100%;
  }
}

.bg-wrapper--dark-active {
  @media (min-width: @desktop-width) {
    border-radius: 0;
  }
}

.bg-wrapper--first-screen {
  position: relative;
  z-index: 4;
  border-radius: 0 0 60px 60px;
  background: @secondary-text-dark;
}

.bg-wrapper__svg {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    position: absolute;
    width: 100%;
    height: 642px;
    z-index: 4;
    border-radius: 0 0 60px 60px;
  }
}
