
/* КАРТА */

.map {
  margin: -45px 0;
  position: relative;
  width: 320px;
  height: 421px;
}

.map_background {
  z-index: -1;
  position: absolute;
}

.map_flag {
  position: absolute;
  top: 35%;
  left: 49%;
}
