.short-guide {
  // display: grid;
  // grid-template-columns: 1fr;
  // position: absolute;
  transform: translateY(-80px);
  margin: 0 25px;
  width: 270px;
  min-height: 200px;
  // opacity: 0.4;

  @media (min-width: @tablet-width) {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 688px;
    min-height: 280px;
    justify-self: center;
    transform: translateY(0);
    // margin-bottom: -40px;
    grid-column: 1/3;
    grid-row: 3/4;
    // top: 100px;
    z-index: 4;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 1320px;
    transform: translate(0, 0);
    margin: 0;
    z-index: 5;
    grid-column: 1/4;
    grid-row: 1/2;
    // bottom: 20px;
    align-self: start;
    min-height: 107px;
    top: 410px;
  }
}

.short-guide__definition-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 22px 24px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 100px;
  border-radius: 10px;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    padding: 31px 33px 22px;
    width: 365px;
    min-height: 140px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    width: 1320px;
    min-height: 107px;
    padding: 30px 62px 30px 34px;
  }
}

.short-guide__definition-wrapper--first {
  top: 0;
  background-color: @base-orange;

  @media (min-width: @tablet-width) {
    top: 0;
    grid-column: 1/2;
    grid-row: 1/2;
    border-radius: 20px 0 0 0;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 345px;
    border-radius: 20px 0 0 20px;
    // top: -110px;
  }
}

.short-guide__definition-wrapper--second {
  top: -20px;
  background-color: @light-orange;

  @media (min-width: @tablet-width) {
    top: 0;
    left: -20px;
    width: 344px;
    grid-column: 2/3;
    grid-row: 1/2;
    border-radius: 20px 20px 0 0;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 375px;
    border-radius: 20px 0 0 20px;
    // top: -110px;
  }
}

.short-guide__definition-wrapper--third {
  top: -40px;
  background-color: @yellow-orange;

  @media (min-width: @tablet-width) {
    top: -1px;
    grid-column: 1/2;
    grid-row: 2/3;
    border-radius: 0 0 0 20px;
  }

  @media (min-width: @desktop-width) {
    top: 0;
    left: -40px;
    grid-column: 3/4;
    grid-row: 1/2;
    width: 375px;
    border-radius: 20px 0 0 20px;
    // top: -110px;
  }
}

.short-guide__definition-wrapper--fourth {
  min-height: 80px;
  top: -60px;
  background-color: @base-yellow;

  @media (min-width: @tablet-width) {
    width: 344px;
    top: -1px;
    left: -20px;
    min-height: 140px;
    grid-column: 2/3;
    grid-row: 2/3;
    border-radius: 0 0 20px 20px;
  }

  @media (min-width: @desktop-width) {
    top: 0;
    left: -60px;
    grid-column: 4/5;
    grid-row: 1/2;
    width: 315px;
    min-height: 107px;
    border-radius: 20px;
    // top: -110px;
  }
}

.short-guide__definition {
  display: block;
  margin: 0;
  width: 140px;
  font-family: "Blogger Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left;
  color: @secondary-text-dark;

  @media (min-width: @tablet-width) {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    min-width: 190px;
  }
}

.short-guide__value {
  font-family: "Blogger Sans", sans-serif;
  margin-left: 10px;
  word-break: break-all;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left;
  color: @base-light;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
  }
}
