.companions-cards {
  padding: 28px 25px 76px;
  background-color: @light-background;
  margin-bottom: -30px;

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: end;
    // margin: 0;
    padding-bottom: 46px;
    margin: 40px 0 0;
  }
}
