.range {
  margin: 22px 0;

  @media (min-width: @tablet-width) {
    grid-column: 2/3;
    grid-row: 5/6;
    justify-self: start;
    margin: 32px 0 22px 10px;
  }

  @media (min-width: @desktop-width) {
    max-width: 200px;
    margin: 32px 0 22px 0;
  }
}

.range__track {
  position: relative;
  width: 100%;
  height: 2px;
  background: hsla(224, 52%, 24%, 0.2);

  @media (min-width: @tablet-width) {
    min-width: 280px;
  }

  @media (min-width: @desktop-width) {
    min-width: 190px;
  }
}

.range__track-active {
  // position: relative;
  width: 154px;
  height: 2px;
  background-color: @base-text-color;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  @media (min-width: @tablet-width) {
    width: 180px;
  }

  @media (min-width: @desktop-width) {
    width: 132px;
  }
}

.range__range {
  display: none;
}

.range__track-spot {
  position: absolute;
  transform: translateY(calc(-50% + 1px));
  z-index: 5;
  cursor: pointer;

  &:hover {
    width: 19px;
    height: 19px;
  }

  &:active {
    width: 19px;
    height: 19px;
  }

  &:focus {
    width: 19px;
    height: 19px;
  }
}

.range__track-spot--left {
  &:hover {
    transform: translate(-3px, calc(-50% + 1px));
  }

  @media (min-width: @tablet-width) {
    left: 0;
  }
}

.range__track-spot--right {
  right: 0;

  &:hover {
    transform: translate(3px, calc(-50% + 1px));
  }
}
