.traveler-about {
  margin: -30px 0;

  @media (min-width: @tablet-width) {
    margin: -40px 0;
  }

  @media (min-width: @desktop-width) {
    background: @light-background;
    margin: -60px 0 -242px;
    // width: 100%;
  }
}

.traveler-about__main {
  padding: 55px 25px 64px;
  background: @light-background;
  width: 270px;

  @media (min-width: @tablet-width) {
    padding: 106px 75px 97px;
    background: @light-background;
    width: 100%;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    padding: 73px 60px 105px 122px;
    min-height: 353px;
    width: 1440px;
    margin: 0 auto;
  }
}

.traveler-about__wrapper {
  display: grid;
  grid-template-columns: 1fr 35px 1fr;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    top: -202px;
    grid-template-columns: 2fr 1.2fr;
  }
}

.traveler-about__level,
.traveler-about__avatar {
  display: block;
}

.traveler-about__level {
  justify-self: end;

  @media (min-width: @tablet-width) {
    justify-self: start;
    width: 94px;
    height: 94px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    top: 43px;
    left: 44px;
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: 3;
  }
}

.traveler-about__button,
.traveler-about__tags,
.traveler-about__transport {
  grid-column: 1/4;
}

.traveler-about__transport {
  @media (min-width: @tablet-width) {
    position: relative;
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: end;
  }
}

.traveler-about__checkbox-label {
  cursor: pointer;

  &:hover .traveler-about__icon {
    opacity: 0.7;
  }

  &:active .traveler-about__icon {
    opacity: 0.3;
  }
}

.traveler-about__checkbox {
  display: none;
}

.traveler-about__checkbox:checked ~ .traveler-about__icon {
  opacity: 0.2;
}

.traveler-about__main picture:first-of-type {
  justify-self: end;

  @media (min-width: @tablet-width) {
    justify-self: start;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.traveler-about__main picture:last-of-type {
  grid-column: 3/4;

  @media (min-width: @tablet-width) {
    justify-self: end;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.traveler-about__avatar {
  grid-column: 3/4;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    width: 94px;
    height: 94px;
    border-radius: 7px;
    justify-self: end;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    width: 190px;
    height: 190px;
    grid-column: 2/3;
    grid-row: 1/2;
    border-radius: 15px 15px 0 0;
    margin: 0 98px 0 0;
    justify-self: end;
    z-index: 3;
  }
}

.traveler-about__button {
  margin: 17px 0 34px;
  width: 100%;
  min-height: 40px;
  border-radius: 20px;
  background-color: @middle-gray-background;
  font-family: "Blogger Sans", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: 18px;
  letter-spacing: 0;
  text-align: center;
  color: @secondary-text-dark;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    background: #d1d7e9;
  }

  &:active {
    background-color: #d1d7e9;
    color: @secondary-text-dark-opacity;
  }

  &:focus {
    background-color: #d1d7e9;
    color: @secondary-text-dark-opacity;
  }

  @media (min-width: @tablet-width) {
    margin: 51px 0;
    width: 100%;
    min-height: 60px;
    border-radius: 10px;
    letter-spacing: 0.09em;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    display: grid;
    align-items: end;
    padding-bottom: 5px;
    margin: 0;
    width: 190px;
    min-height: 47px;
    letter-spacing: 0;
    // height: 100%;
    grid-column: 2/3;
    grid-row: 2/3;
    border-radius: 0 0 10px 10px;
    // top: -140px;
    justify-self: end;
    transform: translate(-51%, 0);
    z-index: 2;
  }
}

.traveler-about__button--until-tablet {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.traveler-about__button--desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    z-index: 10;
  }
}

.traveler-about__tags {
  position: relative;
  border: 1px solid @border-gray;
  border-radius: 10px;
  width: 100%;
  height: 89px;
  // padding: 27px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    display: grid;
    min-height: 95px;
    // padding: 0 40px;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    grid-row: 3/4;
    margin-top: 26px;
    width: 732px;
  }
}

.traveler-about__tags::before {
  @media (min-width: @tablet-width) {
    content: "Тэги";
    display: block;
    position: absolute;
    font-family: "Blogger Sans", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    color: @base-text-color;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 0 20px;
    background: @light-background;
  }

  @media (min-width: @desktop-width) {
    left: 20px;
    transform: translate(0, 50%);
    letter-spacing: 0.05em;
  }
}

.traveler-about__tags-text {
  margin: 0;
  font-family: "Blogger Sans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left;
  color: @base-grey;
  opacity: 0.6;
  height: 100%;
  border-radius: 10px;
  background: transparent;
  box-sizing: border-box;
  outline: none;
  border: 0;
  padding: 23px;
  // height: auto;
  width: 100%;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
    padding: 34px 39px;
    height: 94px;
  }
}

.traveler-about__block-header {
  margin: 0;
  width: 74px;
  text-align: center;
  background-color: @light-background;
  position: absolute;
  display: block;
  font-family: "Blogger Sans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 18px;
  letter-spacing: 0;
  text-transform: uppercase;
  color: @base-text-color;
  left: 50%;
  top: 0;
  transform: translate(-50%, -60%);

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.traveler-about__transport-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  position: relative;
  border: 1px solid @border-gray;
  border-radius: 10px;
  width: 100%;
  min-height: 60px;
  padding: 15px 71px 15px 68px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    margin: 0 0 0 -3px;
    width: 308px;
    min-height: 95px;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    height: 95px;
    margin: 26px 0 0;
    min-width: 384px;
  }
}

.traveler-about__transport-wrapper::before {
  @media (min-width: @tablet-width) {
    content: "Транспорт";
    display: block;
    position: absolute;
    font-family: "Blogger Sans", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    color: @base-text-color;
    bottom: 0;
    transform: translate(0, 50%);
    padding: 0 20px;
    background: @light-background;
  }
}

.traveler-about__block-header--transport {
  width: 110px;
}

.traveler-about__icon-wrapper {
  display: grid;
  background-color: @base-light;
  border-radius: 16px;
  width: 32px;
  height: 32px;

  @media (min-width: @tablet-width) {
    width: 43px;
    height: 43px;
    border-radius: 50%;
  }
}

.traveler-about__icon {
  justify-self: center;
  align-self: center;
  width: 16px;
  height: 16px;

  @media (min-width: @tablet-width) {
    width: 21px;
    height: 21px;
  }
}
